
@model IEnumerable<StudentProfile>

@{
    ViewData["Title"] = "Student Profile";
}


<div class="card">
    <div class="card-header">
        <h1 class="fs-3 fw-light">Add Your Students</h1>
        <a asp-action="Create">Create</a> |
        
        <a class="text-danger" asp-action="DeleteRange" onclick="return confirm('Are you sure you want to delete all students in the system?')">Clear All</a>
    </div>

    <div class="card-body">
        <form asp-action="Search">
            <input class="form-input" name="searchTerm" placeholder="Search by Name" type="text" />
            <button class="btn btn-primary" type="submit">Search</button><button class="btn btn-success" type="submit">Back</button>
        </form>
        <hr />
        @if (Model != null)
            {
        @if (!Model.Any())
        {
            <div class="alert alert-secondary">
                You have no Students added in the system
            </div>
        }
        else
        {            
                    @foreach (var item in Model)
                    {
            <div class = "wrapper">
                        <div class="card border-success mb-3" style="max-width: 20rem;">
                              <h3 class="card-header">Name: @item.Name</h3>
  <div class="card-body">
    <h5 class="card-title">Class: @item.Class</h5>
    <h6 class="card-subtitle text-muted">Student Profile</h6>
  </div>
  <div class="card-body">
    <p class="card-text">This Card contains Info about @item.Name</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>DateOfBirth:</strong> @item.DOB.ToString("dd/MM/yyyy")</li>
    <li class="list-group-item"><strong>EnrolementDate:</strong> @item.EnrolmentDate.ToString("dd/MM/yyyy")</li>
    <li class="list-group-item"><strong>Parent1:</strong> @item.Parent1</li>
    <li class="list-group-item"><strong>Parent2:</strong> @item.Parent2</li>
    <li class="list-group-item"><strong>Parent1Phone:</strong> @item.Parent1Phone</li>
    <li class="list-group-item"><strong>Parent1Phone:</strong> @item.Parent2Phone</li>
    <li class="list-group-item"><strong>Address:</strong> @item.Address</li>
  </ul>
 
  <div class="card-body">
 <a asp-action="Edit" asp-route-id="@item.Id" class="">Edit</a> |
    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" onclick="return confirm('Are you sure you want delete @item.Name ?')">Delete</a> |
   <a asp-action="Create" class="text-success" asp-controller="StudentGrade" asp-route-id="@item.Id"> Grade Student</a>
  
</div>
<div class="card-footer text-muted">
    This Card is Checked
  </div>
  </div>
  </div>

                    }

               
            

            
        }
        }
    </div>
</div>